.navbar-nav button {
  margin-left: 20px;
}

.carousel p,
.carousel h1 {
  text-shadow: 1px 2px 10px black;
}

.carousel h1 {
  font-size: 3.5rem;
  margin-bottom: 20px;
}

.carousel p {
  margin-bottom: 40px;
  font-size: 1rem;
}

.carousel img {
  min-height: 650px;
  overflow: hidden;
}

.village-head {
  background-image: linear-gradient(
    95deg,
    rgb(1, 24, 8),
    #0b3c33,
    #225b51,
    #287063,
    #338979,
    #40a694
  );
  min-height: 850px;
  overflow: hidden;
}

.village-head .row {
  padding: 30px;
  padding-top: 50px;
  text-align: center;
  color: white;
}

.village-head h1 {
  margin-top: 100px;
  font-size: 5vmax;
}

.village-head h1:hover {
  font-size: 5.5vmax;
  transition: 0.3s;
}

.village-head .row p {
  padding-top: 15px;
}

.village-head .row p:hover {
  transition: 0.2s;
  font-size: 1.2rem;
}

.village-head button {
  margin-bottom: 20px;
}

.wrapper {
  min-height: 850px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.829), rgba(0, 0, 0, 0.56)),
    url(img/bg-1.jpg);
  overflow: hidden;
  color: white;
}
.wrapper .event-desc {
  padding-bottom: 20px;
}
.wrapper h1 {
  margin-top: 100px;
  padding: 50px;
  margin-bottom: 70px;
  font-size: 5vmax;
}

.wrapper h1:hover {
  transition: 0.3s;
  text-shadow: 3px 10px 2px 3px white;
  font-size: 6vmax;
}

.wrapper img {
  max-width: 370px;
  overflow: hidden;
}

.wrapper img:hover {
  max-width: 375px;
  transition: 0.5s;
  overflow: hidden;
}

footer {
  max-height: 100px;
  padding-top: 10px;
  color: white;
  background-image: linear-gradient(45deg, #1a473f, #296258, #225b51, #338979);
}

footer .credit {
  font-size: xx-small;
  color: white;
  text-decoration: none;
}

footer svg {
  margin: 0 10px;
}
footer a {
  padding: 0px 3px;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #296258;
}

footer a:hover {
  color: rgb(206, 206, 206);
}

/* Log in & Sign up */

.content {
  background-image: linear-gradient(
      95deg,
      rgba(1, 24, 8, 0.308),
      #0b3c336e,
      #225b5141,
      #2870635c,
      #3389793e,
      #40a69350
    ),
    url(img/bg-2.jpg);
  background-size: cover;
}

section .box {
  height: 500px;
  max-width: 50ch;
  border-radius: 10%;
  background-color: rgba(255, 255, 255, 0.705);
  margin: auto;
  margin-top: 150px;
  color: #0c322b;
}

form {
  padding: 50px;
}

form input {
  margin-top: 10px;
}

form a {
  color: black;
}

#inputEmail,
#inputPassword,
#inputName,
#selectGender {
  background: transparent;
  border: none;
  border-bottom: 1px solid black;
  box-shadow: none;
}
form ::-webkit-input-placeholder {
  color: black !important;
}

form .btn {
  background-image: linear-gradient(
    95deg,
    #0b3c33b5,
    #225b51c3,
    #287063c2,
    #338979a3,
    #40a693cc
  );
  border: 1px solid rgb(1, 24, 8);
  border-radius: 10px;
  color: white;
  margin: 1em 0 1em 5em;
  padding: 10px 50px;
}

form .btn:hover {
  background-image: linear-gradient(
    95deg,
    #2f8071d8,
    #429183d4,
    #40a693b7,
    #54b6a4d4,
    #78cebebc
  );
  transition: 0.4s;
}

/* About page */

.page {
  background-image: linear-gradient(
      95deg,
      rgb(1, 24, 8),
      #062d26,
      #0d3830ee,
      #0d3830ee,
      #0d3830,
      #0d3830
    ),
    url("img/bg-1.jpg");
  background-size: cover;
  padding-top: 55px;
}

.about hr {
  background-color: white;
  margin: 0 50px;
}

.about p,
.about h1 {
  color: white;
}

.about p {
  font-size: 1.3rem;
}

.about section {
  max-height: 800px;
  margin: 50px 0 0 0;
  padding-bottom: 150px;
}

.about .mid {
  background-image: linear-gradient(
    95deg,
    #082d26,
    #1d6154,
    #256055,
    #35776b,
    #a85a96,
    #c373b0,
    #e9c8df
  );
  color: white;
  margin: 50px auto 150px auto;
  padding: 50px 30px;
  border-radius: 30px;
}

/* event */
.event {
  padding: 100px 0px;
}

.main-event {
  border-radius: 10px;
  color: white;
  background: #02281e;
  margin: 0 auto;
  padding-top: 10px;
}

.main-event .details {
  margin: 5px 0;
}

/* Visit */
.visit {
  padding-bottom: 30px;
  background-image: linear-gradient(
      95deg,
      rgba(1, 24, 8, 0.951),
      #062d26ea,
      #0d3830,
      #0d3830,
      #0d3830f5,
      #0d3830ea
    ),
    url(img/bg-2.jpg);
  background-size: cover;
  padding-top: 55px;
}
.visit .container-white {
  max-width: 100ch;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.458);
  margin: 0 auto;
}

.visit li p {
  color: #02281e;
  font-size: 1.3rem;
  padding: 10px;
  /* padding-bottom: 40px; */
  margin: 0 10px;
}
.visit p:hover,
.visit li:hover {
  color: green;
  font-size: 1.4rem;
}
